@media (min-width: 1151px) {
  .container {
    max-width: 1150px;
  }
}

a {
  &.router-link {
    &-active {
      font-weight: 600;
    }
    &-exact-active {
      color: $warnasecondary;
    }
  }
}

.footer {
  color: $abumuda3;

  &_atas {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $hitam;
    &_id {
      li {
        background: none;
        color: $abumuda3;
        border-bottom: 1px dashed $abumuda1;
      }
    }
  }

  &_bawah {
    border-top: 4px solid $hitam;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: $hitam2;
    color: $abumuda2;
    font-size: $font-size-base - .15rem;
    a{
      font-weight: bold;
      color: $warnasecondary;
      text-decoration: none;
      font-size: $font-size-base - .1rem;
      &:hover{
        color: lighten($color: $warnadefault, $amount: 40);
      }
    }
  }
}

.bgAbu {
  background-color: $abumuda4;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
