@include media-breakpoint-up(lg) {
  .container {
    max-width: 1150px;
  }
}

*{
  font-family: 'Roboto', sans-serif;
}

a {
  &.router-link {
    &-active {
      font-weight: 600;
    }

    &-exact-active {
      color: $warnasecondary;
    }
  }
}

.footer {
  color: $abumuda3;

  &_atas {
    &_id {
      li {
        background: none;
        color: $abumuda3;
        border-bottom: 1px dashed $abumuda1;
      }
    }
  }

  &_bawah {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: $abumuda2;
    font-size: $font-size-base - .15rem;

    a {
      font-weight: bold;
      color: $warnasecondary;
      text-decoration: none;
      font-size: $font-size-base - .1rem;

      &:hover {
        color: lighten($color: $warnadefault, $amount: 40);
      }
    }
  }
}

.bgAbu {
  background-color: $abumuda4;
}

.bgHitam1{
  background-color: $hitam;
}

.bgHitam2{
  background-color: $hitam2;
  border-top: 4px solid darken($hitam,7);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.judulWidget {
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  // letter-spacing: .1rem;
  color: $warnadefault;
  text-transform: uppercase;
  .icon{
    font-size: 1.3rem;
    margin-top: -3px;
    color: $abumuda2;
  }
  &:hover {
    color: $biru2;
    .icon{
      color: $warnasecondary;
    }
  }

  &_tombol {
    margin-top: -3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    font-size: .65rem;
    color: $warnadefault;
    padding: .1rem .4rem;
    border-radius: .5rem;
    border-width: 2px;
    background-color: $abumuda4;
    border-color: lighten($color: $warnasecondary, $amount: 30);

    .icon {
      width: 1.6em;
      height: 1.6em;
      background-color: lighten($color: $warnasecondary, $amount: 30);
    }

    &:hover {
      .icon {
        background-color: inherit;
      }
    }
  }
}


// ---------- BERITA START ---------- //
.berita{
  // ---------- BERITA HOME START ---------- //
  &_home{
    &_list{
      &.list-group{
        --bs-list-group-item-padding-y: .75rem;
      }
      &_item{
        border-bottom: 1px dashed $abumuda4;
        font-family: 'Roboto', sans-serif;
        &:first-child{
          padding-top: inherit;
        }
        &_gambar{
          transition: opacity .5s ease-out;
          -moz-transition: opacity .5s ease-out;
          -webkit-transition: opacity .5s ease-out;
          -o-transition: opacity .5s ease-out;
        }
        &_judul{
          font-size: .8rem;
          font-weight: bold;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
                  line-clamp: 3; 
          -webkit-box-orient: vertical;
          line-height: 1.2rem;
          color: $abumuda1;
        }
        &_isi{

        }
        &_meta{
          font-size: .65rem;
          color: $abumuda2;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1; /* number of lines to show */
                  line-clamp: 1; 
          -webkit-box-orient: vertical;
          span{
            .icon{
              margin-top: -2px;
            }
          }
          &_icon{
            &_opd{
              color: lighten($color: $merah, $amount: 30);
            }
            &_tgl{
              color: $hijau;
            }
            &_lihat{
              color: lighten($color: $biru, $amount: 30);
            }
          }
        }
        &:hover{
          .berita{
            &_home{
              &_list{
                &_item{
                  &_gambar{
                    opacity: 0.7;
                  }
                  &_judul{
                    color: $hitam;
                  }
                  &_meta{
                    color: $abumuda1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // ---------- BERITA HOME END ---------- //

  // ---------- BERITA UTAMA START ---------- //
  &_utama{
    &_list{
      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
      }
      &_item{
        transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -webkit-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        @include media-breakpoint-up(lg) {
          padding: 1rem;
        }
        @include media-breakpoint-down(sm) {
          padding-top: .75rem;
          padding-bottom: .75rem;
        }
        border-radius: .75rem;
        border-bottom: 1px dashed $abumuda4;
        &_gambar{
          min-width: 250px;
            @include media-breakpoint-down(sm) {
              min-width: 130px;
            }
          img{
            transition: opacity .5s ease-out;
            -moz-transition: opacity .5s ease-out;
            -webkit-transition: opacity .5s ease-out;
            -o-transition: opacity .5s ease-out;
          }
        }
        &_opd{
          font-size: .7rem;
          font-weight: bold;
          color: $abumuda2;
          transition: all .5s ease-out;
          -moz-transition: all .5s ease-out;
          -webkit-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
        }
        &_judul{
          font-size: .9rem;
          font-weight: 800;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
                  line-clamp: 2; 
          -webkit-box-orient: vertical;
          // line-height: 1.5rem;
          color: $hitam;
          @include media-breakpoint-down(sm) {
            font-size: .8rem;
          }
        }
        &_isi{
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
                  line-clamp: 3; 
          -webkit-box-orient: vertical;
          color: $abumuda1;
          padding-bottom: .5rem;
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
        &_meta{
          @include media-breakpoint-down(sm) {
            font-size: .65rem;
          }
          &_tgl,
          &_lihat,
          &_komen,
          &_kat{
            background-color: $abumuda4;
            padding: .25rem .5rem;
            border-radius: .5rem;
            transition: all .5s ease-out;
            -moz-transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
            -o-transition: all .5s ease-out;
          }
          .icon{
            margin-top: -2px;
            font-size: .8rem;
          }
          &_tgl{
            @include media-breakpoint-down(sm) {
              margin-bottom: .3rem;
              display: block;

            }
            &_icon{
              transition: all .5s ease-out;
              -moz-transition: all .5s ease-out;
              -webkit-transition: all .5s ease-out;
              -o-transition: all .5s ease-out;
            }
          }
          &_lihat{
            &_icon{
              transition: all .5s ease-out;
              -moz-transition: all .5s ease-out;
              -webkit-transition: all .5s ease-out;
              -o-transition: all .5s ease-out;
            }
          }
          &_komen{
            &_icon{
              transition: all .5s ease-out;
              -moz-transition: all .5s ease-out;
              -webkit-transition: all .5s ease-out;
              -o-transition: all .5s ease-out;
            }
          }
          &_kat{
            // @include media-breakpoint-down(sm) {
            //   display: none;
            // }
            &_icon{
              transition: all .5s ease-out;
              -moz-transition: all .5s ease-out;
              -webkit-transition: all .5s ease-out;
              -o-transition: all .5s ease-out;
            }
          }
        }
        &:hover{
          box-shadow: 0 0 30px 0px $abumuda3;
          -webkit-box-shadow: 0 0 30px 0px $abumuda3;
          -moz-box-shadow: 0 0 30px 0px $abumuda3;
          .berita{
            &_utama{
              &_list{
                &_item{
                  &_gambar{
                    img{
                      opacity: 0.7;
                    }
                  }
                  &_opd{
                    color: $merah;
                  }
                  &_judul{
                    color: $warnadefault;
                  }
                  &_isi{
                    color: $hitam;
                  }
                  &_meta{
                    &_tgl,
                    &_lihat,
                    &_komen,
                    &_kat{
                    }
                    &_tgl{
                      background-color: lighten($biru,60);
                      &_icon{
                        color: $biru;
                      }
                    }
                    &_lihat{
                      background-color: lighten($hijau,50);
                      &_icon{
                        color: $hijau;
                      }
                    }
                    &_komen{
                      background-color: lighten($biru2,50);
                      &_icon{
                        color: $biru2;
                      }
                    }
                    &_kat{
                      background-color: lighten($oren,35);
                      &_icon{
                        color: $oren;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // ---------- BERITA UTAMA END ---------- //
  // ---------- BERITA DETAIL START ---------- //
  &_detail{
    &_judul{
    }
    &_meta{
      &_atas{
        &_opd,
        &_tgl{
          font-size: .7rem;
          color: $abumuda2;
          padding-right: 1rem;
          .icon{
            font-size: .8rem;
            margin-top: -3px;
            transition: all .5s ease-out;
            -moz-transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
            -o-transition: all .5s ease-out;
          }
        }
        &_opd{
          .icon{
            color: $pink;
          }
        }
        &_tgl{
          .icon{
            color: $hijau;
          }
        }
      }
      &_bawah{
        border-top: 1px solid $abumuda3;
        border-bottom: 1px solid $abumuda3;
        background-color: $abumuda4;
        padding-top: .3rem;
        padding-bottom: .3rem;
        .list-group{
          --bs-list-group-item-padding-y:0;
          .list-group-item{
            border-top: none;
            border-bottom: none;
            background-color: $abumuda4;
            &:first-child{
              border-left: none;
            }
            &:last-child{
              border-right: none;
            }
          }
        }
        &_penulis,
        &_kat,
        &_komen,
        &_lihat,
        &_tag{
          font-size: .7rem;
          color: $abumuda2;
          .icon{
            font-size: .8rem;
            margin-top: -3px;
            transition: all .5s ease-out;
            -moz-transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
            -o-transition: all .5s ease-out;
          }
        }
        &_penulis{
          .icon{
            color: lighten($merah,30);
          }
        }
        &_kat{
          .icon{
            color: darken($oren,10);
          }
        }
        &_komen{
          .icon{
            color: lighten($biru,40);
          }
        }
        &_lihat{
          .icon{
            color: lighten($hijau,40);
          }
        }
        &_tag{
          .icon{
            color: lighten($pink, 20);
          }
        }
        &:hover{
          .berita{
            &_detail{
              &_meta{
                &_bawah{
                  &_penulis,
                  &_kat,
                  &_komen,
                  &_lihat,
                  &_tag{
                    color: $abumuda1;
                  }
                  &_penulis{
                    .icon{
                      color: $merah;
                    }
                  }
                  &_kat{
                    .icon{
                      color: $oren;
                    }
                  }
                  &_komen{
                    .icon{
                      color: $biru;
                    }
                  }
                  &_lihat{
                    .icon{
                      color: $hijau;
                    }
                  }
                  &_tag{
                    .icon{
                      color: $pink;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &_gambar{
      img{
        width: 100%;
        object-fit:cover;
      }
    }
    &_isi{
      h1,
      h2,
      h3,
      h4,
      h5,
      h6{
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;
        color: $hijau;
      }
      h1{
        font-size: .9rem;
      }
      h2{
        font-size: .85rem;
      }
      h3{
        font-size: .8rem;
      }
      h4{
        font-size: .75rem;
      }
      h5{
        font-size: .7rem;
      }
      h6{
        font-size: .65rem;
      }
      text-align: justify;
      strong{
        color: $warnadefault;
      }
      a{
        color: $hijau;
        font-weight: 800;
        text-decoration: none;
        transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -webkit-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        &:hover{
          color: $pink;
        }
      }
    }
  }
  // ---------- BERITA DETAIL END ---------- //
}

// ---------- BERITA END ---------- //

// ---------- SIDEBAR START ---------- //

// ---------- SIDEBAR HOVER START ---------- //
.hvr{
  .card{
    background-color: lighten($abumuda4, 3);
    border-color: $abumuda3;
    transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    &-header{
      background-color: lighten($warnasecondary,40);
      border-color: $abumuda3;
      transition: all .5s ease-out;
      -moz-transition: all .5s ease-out;
      -webkit-transition: all .5s ease-out;
      -o-transition: all .5s ease-out;
      .judulWidget{
        transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -webkit-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        .icon{
          transition: all .5s ease-out;
          -moz-transition: all .5s ease-out;
          -webkit-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
        }
      }
    }
    &:hover{
      border-color: $warnasecondary;
      box-shadow: 0 0 30px 0px $abumuda3;
            -webkit-box-shadow: 0 0 30px 0px $abumuda3;
            -moz-box-shadow: 0 0 30px 0px $abumuda3;
      .card-header{
        background-color: $warnasecondary;
        .judulWidget{
          color: $hitam;
          .icon{
            color: $merah;
          }
        }
      }
    }
  }
}
// ---------- SIDEBAR HOVER END ---------- //

.sb{
  &_berita{
    // ---------- SIDEBAR BERITA KATEGORI START ---------- //
    &_kat{
      &_list{
        &_item{
          padding:.5rem;
          border-radius: .65rem;
          color: $abumuda1;
          font-size: .8rem;
          transition: all .5s ease-out;
          -moz-transition: all .5s ease-out;
          -webkit-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
          &.list-group-item {
            border-bottom: 1px dashed $abumuda4;
          }
          &_badge{
            background-color: $warnadefault;
            font-size: .7rem;
            transition: all .5s ease-out;
            -moz-transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
            -o-transition: all .5s ease-out;
          }
          &:hover{
            &.sb{
              &_berita{
                &_kat{
                  &_list{
                    &_item{
                      color: $warnadefault;
                      font-weight: bold;
                      .badge{
                        background-color: $warnasecondary;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    // ---------- SIDEBAR BERITA KATEGORI END ---------- //

    // ---------- SIDEBAR BERITA POPULER START ---------- //
    &_pop{
      &_list{
        &_item{
          &.list-group-item {
            border-bottom: 1px dashed $abumuda4;
            border-radius: .5rem;
          }
          &_rank{
            font-size: 1rem;
            color: $abumuda3;
            margin-top: .7rem;
            padding-left: .5rem;
          }
          &_gambar{
            min-width: 45px;
            img{
              transition: opacity .5s ease-in-out;
              -moz-transition: opacity .5s ease-in-out;
              -webkit-transition: opacity .5s ease-in-out;
              -o-transition: opacity .5s ease-in-out;
              width: 45px;
            }
          }
          &_judul{
            font-size: .7rem;
            font-weight: 600;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
                    line-clamp: 2; 
            -webkit-box-orient: vertical;
            // line-height: 1.5rem;
            color: $hitam2;
            // @include media-breakpoint-down(sm) {
            //   font-size: .8rem;
            // }
          }
          &_meta{
            &_lihat{
              background-color: $abumuda4;
              padding: .1rem .25rem;
              border-radius: .2rem;
              transition: all .5s ease-in-out;
              -moz-transition: all .5s ease-in-out;
              -webkit-transition: all .5s ease-in-out;
              -o-transition: all .5s ease-in-out;
              &_icon{
                transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
                -webkit-transition: all .5s ease-in-out;
                -o-transition: all .5s ease-in-out;
              }
              .icon{
                margin-top: -3px;
                font-size: .8rem;
              }
            }
          }
          &:hover{
            .sb{
              &_berita{
                &_pop{
                  &_list{
                    &_item{
                      
                      &_rank{
                        color: lighten($merah, 40);
                        animation: all .5s ease-in-out;
                        transition: all .5s ease-in-out;
                        -moz-transition: all .5s ease-in-out;
                        -webkit-transition: all .5s ease-in-out;
                        -o-transition: all .5s ease-in-out;
                      }
                      &_gambar{
                        img{
                          opacity: 0.7;
                        }
                      }
                      &_judul{
                        color: $warnadefault;
                      }
                      &_meta{
                        &_lihat{
                          background-color: lighten($hijau,50);
                          &_icon{
                            color: $hijau;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    // ---------- SIDEBAR BERITA POPULER END ---------- //
  }
}
// ---------- SIDEBAR END ---------- //



// ---------- ALBUM GALLERY START ---------- //

.album{
  text-decoration: none;
  color: $abumuda1;
  // ---------- ALBUM GALLERY LIST START ---------- //
  &_list{
    border-color: $abumuda3;
    transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    &_gambar{
      max-height: 10rem;
      object-fit: cover;
      @include media-breakpoint-down(sm) {
        max-height: inherit;
      }
    }
    &_konten{
      padding: .6rem;
      &_opd{
        color: $merah;
        font-size: .7rem;
        transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -webkit-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
      }
      &_judul{
        font-size: .75rem;
        font-weight: 800;
        transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -webkit-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
      }
      &_deskripsi{
        color: $abumuda2;
        font-size: .7rem;
        font-weight: inherit;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
        -webkit-box-orient: vertical;
      }
      &_meta{
        &_tgl{
          font-size: .65rem;
          color: $abumuda3;
          transition: all .5s ease-out;
          -moz-transition: all .5s ease-out;
          -webkit-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
          .icon{
            transition: all .5s ease-out;
          -moz-transition: all .5s ease-out;
          -webkit-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
          }
        }
        &_jumgal{
          background-color: lighten($hijau,50);
          color: $abumuda1;
          font-size: .7rem;
          transition: all .5s ease-out;
          -moz-transition: all .5s ease-out;
          -webkit-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
          .icon{
            color: $hijau;
            margin-top: -2px;
            font-size: .8rem;
            transition: all .5s ease-out;
            -moz-transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
            -o-transition: all .5s ease-out;
          }
        }
      }
    }
    &:hover{
      background-color: $abumuda4;
      // border-color: $abumuda2;
      box-shadow: 0 0 30px 0px $abumuda2;
      -webkit-box-shadow: 0 0 30px 0px $abumuda2;
      -moz-box-shadow: 0 0 30px 0px $abumuda2;
      .album{
        &_list{
          &_gambar{

          }
          &_konten{
            &_opd{
              color: $hijau;
            }
            &_judul{
              color: $warnadefault;
            }
            &_deskripsi{
              color: $abumuda1;
            }
            &_meta{
              &_tgl{
                color: $pink;
                .icon{
                  color: $pink;
                }
              }
              &_jumgal{
                background-color: $hijau;
                color: white;
                .icon{
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
  // ---------- ALBUM GALLERY LIST END ---------- //


// ---------- GALLERY START ---------- //
.gallery{
  text-decoration: none;
  color: $abumuda1;
  // ---------- GALLERY LIST START ---------- //
  &_list{
    border-color: $abumuda3;
    transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    &_gambar{
      height: 8rem;
      object-fit: cover;
      @include media-breakpoint-down(sm) {
        height: inherit;
      }
    }
    &_konten{
      padding: .6rem;
      &_judul{
        font-size: .7rem;
        transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -webkit-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
      }
      &_deskripsi{
        color: $abumuda1;
        font-size: .7rem;
      }
    }
    &:hover{
      background-color: $abumuda4;
      // border-color: $abumuda2;
      box-shadow: 0 0 30px 0px $abumuda2;
      -webkit-box-shadow: 0 0 30px 0px $abumuda2;
      -moz-box-shadow: 0 0 30px 0px $abumuda2;
      .gallery{
        &_list{
          &_gambar{

          }
          &_konten{
            &_judul{
              color: $warnadefault;
            }
            &_deskripsi{

            }
          }
        }
      }
    }
  }
  // ---------- GALLERY LIST END ---------- //
}
// ---------- GALLERY END ---------- //


// ---------- BUTTON ICON START ---------- //
.btnicon{
  font-size: .75rem;
  .icon{
    font-size: 1rem;
    margin-top: -2px;
    margin-right: .25rem;
  }
}
// ---------- BUTTON ICON END ---------- //

// ---------- TEXT ICON START ---------- //
.txticon{
  font-size: .7rem;
  color: $abumuda1;
  .icon{
    font-size: .9rem;
    margin-top: -2px;
    margin-right: .15rem;
  }
}
// ---------- TEXT ICON END ---------- //


// GPR
#gpr-kominfo-widget-container {
  #gpr-kominfo-widget-header {
    height: 50px !important;
    @include media-breakpoint-down(sm) {
      height: 70px !important ;
    }
  }

  #gpr-kominfo-widget-body {
    #gpr-kominfo-widget-list {
      max-height: 270px;
      @include media-breakpoint-down(sm) {
        max-height: inherit;
      }
      li {
        &.gpr-kominfo-widget-list-item {
          font-size: 12px !important;

          &.gpr-kominfo-widget-icon-rilis-media-gpr {
            background-size: 50px !important;
            @include media-breakpoint-down(sm) {
              background-size: inherit;
            }
          }
        }
      }
    }
  }

  #gpr-kominfo-widget-footer {}
}