$hitam:   rgb(39, 41, 42);
$hitam2:  rgb(27, 28, 29);
$abumuda1:  lighten($hitam, 15);
$abumuda2:  lighten($hitam, 40);
$abumuda3:  lighten($hitam, 70);
$abumuda4:  lighten($hitam, 80);
$biru:    rgb(44,44,100);
$biru2:   rgb(23, 70, 162);
$oren:    rgb(243,171,28);
$hijau:   rgb(27, 156, 133);
$merah:   rgb(194, 16, 16);
$pink:    rgb(154, 22, 99);
$warnadefault: $biru;
$warnasecondary: $oren;

:root{
  --bs-body-font-size: .75rem;
  --bs-font-sans-serif: 'Nunito', sans-serif;
}

.list-group {
  --bs-list-group-item-padding-y: .3rem;
  --bs-list-group-item-padding-x: .5rem;
}


.btn-primary{
  --bs-btn-bg: rgb(44,44,100);
  --bs-btn-border-color:rgb(44,44,100);
  --bs-btn-disabled-bg:rgb(44,44,100);
  --bs-btn-hover-bg: rgb(33, 33, 82);
  --bs-btn-hover-border-color:rgb(26, 26, 70);
  --bs-btn-active-bg:rgb(26, 26, 70);
  --bs-btn-active-border-color:rgb(21, 21, 56);
  --bs-btn-disabled-border-color:rgb(21, 21, 56);
}

.btn-outline-primary{
  --bs-btn-color: rgb(44,44,100);
  --bs-btn-border-color:rgb(44,44,100);
  --bs-btn-disabled-color:rgb(44,44,100);
  --bs-btn-hover-bg: rgb(33, 33, 82);
  --bs-btn-hover-border-color:rgb(26, 26, 70);
  --bs-btn-active-bg:rgb(26, 26, 70);
  --bs-btn-active-border-color:rgb(21, 21, 56);
  --bs-btn-disabled-border-color:rgb(21, 21, 56);
}

.btn{
  // --bs-btn-border-radius: 0;
}

.btn-sm{
  --bs-btn-font-size: .7rem;
}